<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="form-group creation-type">
    <label>Character Type</label>
    <div class="form-fields">
      <label>
        <input type="radio" name="character-type" value="pc" {{#if (eq characterType "pc")}}checked{{/if}} />
        PC
      </label>
      <label>
        <input type="radio" name="character-type" value="henchman" {{#if (eq characterType "henchman")}}checked{{/if}} />
        Henchman
      </label>
    </div>
  </div>
  <div class="flexrow">
    <div class="attribute-list">
      {{#each config.scores as |score id| }}
      <div data-score="{{id}}" class="form-group">
        <label>
          {{#if (eq @root.characterType "pc")}}
          <a class="score-roll{{#if (lookup @root.creationLocks id)}} locked{{/if}}">
            <i class="fas fa-dice"></i>
          </a>
          {{/if}}
          {{score}}
        </label>
        <div class="form-fields">
          <input
            class="score-value"
            name="data.scores.{{id}}.value"
            type="text"
            value="{{#if (lookup @root.creationLocks id)}}{{lookup @root.currentScores id}}{{else}}0{{/if}}"
            data-dtype="Number"
            {{#if (or (eq @root.characterType "henchman") (lookup @root.creationLocks id))}}readonly{{/if}}
          />
        </div>
      </div>
      {{/each}}
    </div>
    <div class="roll-stats">
      <div class="form-group">
        <label>Sum</label>
        <div class="form-fields">
          <span class="sum">0</span>
        </div>
      </div>
      <div class="form-group">
        <label>Avg</label>
        <div class="form-fields">
          <span class="avg">0</span>
        </div>
      </div>
      <div class="form-group">
        <label>Std</label>
        <div class="form-fields">
          <span class="std">0</span>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label>Gold&nbsp;</label>
        <div class="form-fields">
          <a class="gold-roll"><i class="fas fa-dice"></i></a>
        </div>
      </div>
      <div></div>
      <div class="form-group">
        <input id="gold" class="gold-value" type="text" value="0" disabled />
      </div>
    </div>
  </div>
  <footer class="sheet-footer">
    <button type="submit" disabled>
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>
