<div class="adventuring-proficiencies-section">
  <h3 class="section-title">Adventuring Proficiencies</h3>

  <table class="adventuring-table">
    <thead>
      <tr>
        <th>Proficiency</th>
        <th>Throw</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Climbing</td>
        <td>
          <input
            type="text"
            name="system.adventuring.climbing.value"
            value="{{system.adventuring.climbing.value}}"
            data-dtype="Number"
          />
        </td>
      </tr>
      <tr>
        <td>Dungeonbashing</td>
        <td>
          <input
            type="text"
            name="system.adventuring.dungeonbashing.value"
            value="{{system.adventuring.dungeonbashing.value}}"
            data-dtype="Number"
          />
        </td>
      </tr>
      <tr>
        <td>Listening</td>
        <td>
          <input
            type="text"
            name="system.adventuring.listening.value"
            value="{{system.adventuring.listening.value}}"
            data-dtype="Number"
          />
        </td>
      </tr>
      <tr>
        <td>Searching</td>
        <td>
          <input
            type="text"
            name="system.adventuring.searching.value"
            value="{{system.adventuring.searching.value}}"
            data-dtype="Number"
          />
        </td>
      </tr>
      <tr>
        <td>Trapbreaking</td>
        <td>
          <input
            type="text"
            name="system.adventuring.trapbreaking.value"
            value="{{system.adventuring.trapbreaking.value}}"
            data-dtype="Number"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
