<div class="healing-cleaves-section">
  <div class="healing-hexagon">
    <div class="hexagon-label">Healing Rate</div>
    <input
      class="hexagon-value"
      type="text"
      name="system.fight.healingRate"
      value="{{system.fight.healingRate}}"
      data-dtype="Number"
    />
  </div>

  <div class="mortal-wounds-hexagon">
    <div class="hexagon-label">Mortal Wounds</div>
    <input
      class="hexagon-value"
      type="text"
      name="system.fight.mortalWounds"
      value="{{system.fight.mortalWounds}}"
      data-dtype="Number"
    />
  </div>

  <div class="cleaves-hexagon">
    <div class="hexagon-label">Cleaves</div>
    <input
      class="hexagon-value"
      type="text"
      name="system.fight.cleaves"
      value="{{system.fight.cleaves}}"
      data-dtype="Number"
    />
  </div>
</div>
